body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #39758f;
  color: white;
  font-size: larger;
  text-align: center;
  padding: 30px;
}
.logo{

  border-radius:50%;
  
}
.navbar {
  background: rgba(166, 207, 207, 0.9);
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  padding: 12px 0;
  direction: rtl;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #edeff0;
  font-size: 17px;
  font-weight: 500;
  padding: 6px 4px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #016d6d;
}

.navbar .active {
  border-bottom: 3px solid #016d6d;
  color: #016d6d;
}

section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
 

}

.pro-section {
  padding: 60px 20px;
  background: #f9fafb;
  font-family: sans-serif;
}
.cards  {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}
.desc{
   background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}
figcaption{
  color: #366b81;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.col{
  color: #366b81;
}

h2 {
  color: #366b81;
}

ul {
  list-style-type: square;
  padding-right: 20px;
}
p{
  font-size: large;
  font-weight: bold;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  z-index: 1000;
}

.whatsapp-btn img {
  width: 60px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #ddd;
}